<!DOCTYPE html>
<html>
<head>
<title>Homework assignment for learning HTML</title>
</head>
<body>

<h1>About alpha-blog</h1>
<p>This page, and the home page, were created as an assignment in the "Complete Ruby On Rails Development Class.
 In code/rails_projects folder, a new rails app was created called 'alpha-blog'. In the newly created folder 'alpha-blog':</p>
  <ul>
    <li>In app/controllers, a pages_controller.rb file was created containing a PagesController class dervied from ApplicationController</li>
    <li>In app/config, the routes.rb file was edited to add routes to the home and about paths</li>
    <li>In app/views, a new 'pages' was added. In this folder:</li>
      <ul>
        <li>The file home.html.erb was added, containing html from the previous assignment</li>
        <li>The file about.html.erb was added, containing the new html seen on this page</li>
      </ul>
  </ul>

<%= link_to 'Home', root_path %>
</body>
</heml>