<!DOCTYPE html>
<html>
<head>
<title>Homework assignment for learning HTML</title>
</head>
<body>

<h1>About Alpha Blog</h1>
<p>Alpha Blog is a blogging service that allows users to sign up and post articles.</p>
<ul>
  <li>Anyone can see the articles and the signed-up users</li>
  <li>After signing up, users can log in and log out</li>
  <li>Only logged in users can create articles</li>
  <li>In general, users must be logged in to edit and delete articles</li>
  <li>In general, users can only edit and delete articles they have created</li>
  <li>A user with admin authority can edit and delete any article, and can delete any user</li>
</ul>
<p>February, 2016: Categories added</p>
<ul>
  <li>When an article is created, it may be assigned to one or more categories</li>
  <li>The article 'edit' page may be used to add/remove the article to/from categories</li>
  <li>Only users with admin authority may create or rename Categories</li>
</ul>
<p>This Alpha Blog app was created by David Warfield as an excercise for the Udemy class <strong>The Complete Ruby on Rails Development Course</strong>,
by Mashrur Hossain and Rob Percival</p>


<%= link_to 'Home', root_path %>
</body>
</html>